<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous">
    </script>

    <title>GDMS ASMT</title>
</head>

<body>
    <!-- <link rel='stylesheet' href='/stylesheets/flaty.min.css' /> -->
    <link rel='stylesheet' href='../stylesheets/main.css' />
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark accentColor justify-content-between" style='display:none'>
            <div class='container d-flex justify-content-between'>
                <a href='/' style='color:white' class="navbar-brand secondaryTextColor" onclick="goCover()">Aerial Spectrum Mapping</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a href='#' id='ProjectLink' class="nav-item nav-link secondaryTextColor active" onclick="showProject()">project</a>
                        <a href='#' id='TeamLink' class="nav-item nav-link secondaryTextColor" onclick="showTeam()">team</a>
                        <a href='#' id='DesignLink' class="nav-item nav-link secondaryTextColor" onclick='showDesign()'>design</a>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <!-- ========================================= PROJECT START ==================================================== -->
    <div id='project' class="container main" style='display:none; margin-top:2rem'>
        <main role="main">
            <!-- Marketing messaging and featurettes
                      ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
            <div class="container marketing">
                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class='col-sm-12' style="padding-bottom:.5rem">
                        <h1 class="secondaryTextColor">Mission Statement</h1>
                        <p class='primaryTextColor' style="font-style:italic">
                            Eliminate the need to purchase new E.M. bands by more efficient use of exisiting bands.
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h3 class='secondaryTextColor'>
                            <a href="https://drive.google.com/open?id=16J103laSFIxSWOxJVnjK12uQlksx72tusdF0g9v3HFg">Project
                                <br>Proposal</a>
                        </h3>
                        <p>Learn more about our mission and customer. See their needs and requirements and the concepts to our
                            solutions.
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h3 class='secondaryTextColor'>
                            <a href="https://drive.google.com/open?id=1CP7eUCqUzZiIcWiyMioQTMVbz6ULvu4T466vriYD5f8">Preliminary
                                <br>Design</a>
                        </h3>
                        <p>Understand our intial design and the final concept. See our analysis and evaluation of our selected
                            concepts.
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h3 class='secondaryTextColor'>
                            <a href="https://drive.google.com/open?id=1EXHrNEjDXwvUDSHjPPw3J1DdNZNOKgf0Y3pAFxrUh6o">Performance
                                <br>Cost</a>
                        </h3>
                        <p>
                            See our performance metrics and total cost of the project. Also presented is the alpha prototype's status.
                        </p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <!-- /.col-lg-4 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h3 class='secondaryTextColor'>
                            <a href="https://drive.google.com/open?id=1EXHrNEjDXwvUDSHjPPw3J1DdNZNOKgf0Y3pAFxrUh6o">Optimized
                                <br>Design</a>
                        </h3>
                        <p>
                            A review of our final design and the optimizations that lead to it. The beta prototype will also be discussed.
                        </p>
                    </div>
                </div>
                <!-- /.row -->


                <!-- START THE FEATURETTES -->

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">The Mapping Unit
                            <br>
                            <h4 class="text-muted">It'll blow your mind</h4>
                        </h2>

                        <p class="lead">The mapping unit will be used to record current status of a set of E.M. bands. This historical data
                            will be used to create a model to help predict future status of the bands given enviornment parameters.
                            This will allow us to predict which bands should be used
                            <strong>now</strong>. Presented to the right is the mapping unit frame and components.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img class="center-align featurette-image img-fluid mx-auto" src="../images/project/enclosure.jpg" alt="Sexy Enclosure">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading">The Delivery Unit
                            <br>
                            <h4 class="text-muted">Oh yeah, it's that good</h4>
                        </h2>
                        <p class="lead">A hexcopter uav will be used to move the mapping unit from location to location. This will allow
                            our solution to remain mobile and offer a wider range of usable features. The uav is powered
                            using 6 high power motors for a total lift thrust of over 12 lbs. This can lift a heavy payload
                            with enough batteries for long term sampling.
                        </p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img class="center-align featurette-image img-fluid mx-auto" src="../images/project/hexacopter.jpg" alt="Hawt Drone">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">The Statistical Unit
                            <br>
                            <h4 class="text-muted">Checkmate</h4>
                        </h2>
                        <p class="lead">A multinomial logistic regression model will be used as the future prediction model. The model will
                            use the current second, minute, hour, day and weather conditions as the predictor variables.
                            The best band to use will be reported as the predicted variable. Other classification machine
                            learning methods such as decision trees and nerual networks will be tested. (The scikit learn
                            library will be used.)
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img class="center-align featurette-image img-fluid mx-auto" src="../images/project/machine_learning.jpg" alt="Stats on Stats">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading">The GUI
                            <br>
                            <h4 class="text-muted">Python never looked this good</h4>
                        </h2>
                        <p class="lead">A multinomial logistic regression model will be used as the prediction model. The model will use
                            the current second, minute, hour, day and weather conditions as the predictor variables. The
                            best band to use will be reported as the predicted variable. Other classification machine learning
                            methods such as decision trees and nerual networks will be tested.
                        </p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img class="center-align featurette-image img-fluid mx-auto" src="../images/project/gui.gif" alt="Python?!?!?! No way!">
                    </div>
                </div>
                <!-- /END THE FEATURETTES -->
            </div>
            <!-- /.container -->
        </main>
    </div>
    <!-- ========================================= PROJECT END ====================================================== -->

    <!-- ========================================= TEAM START ======================================================= -->
    <div id='team' class="container main" style='display:none'>

        <h4 class='primaryTextColor mt-3' style="font-style:italic; text-align:center">
            Hover over a team member to learn more about them!
        </h4>

        <!--Section: Team v.1-->
        <section class="team-section pb-3">

            <div class="row text-center" style="margin-top: 1rem">
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4 mx-auto">
                    <div class="card card-body" id="kishore" style="min-height:100%">
                        <div class="avatar mx-auto my-3">
                            <img src="../images/team/kishore.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                        </div>
                        <h5 class="font-weight-bold">
                            <strong>Kishore pochiraju</strong>
                        </h5>
                        <p class="grey-text">Team Advisor</p>
                    </div>
                </div>
            </div>
            <!-- Grid row -->

            <div class="row text-center">
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4 flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="card card-body " id='arun' style="min-height:100%">
                        <div class="flipper">
                            <div class="front">
                                <div class="avatar mx-auto my-3">
                                    <img src="../images/team/arunsmall.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                                </div>
                                <h5 class="font-weight-bold">
                                    <strong>Arun Aruljothi</strong>
                                </h5>
                                <p class="grey-text">Mechanical Engineer</p>
                            </div>
                            <div class="back">
                                <p class='mt-5' style="text-align:left">
                                    Arun is a mechanical engineering major with a computer science minor. He is also pursuing a master's degree in robotics and
                                    control. He has co-op experience working in package engineering, power systems, risk
                                    and reliability analysis and drone management.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4 flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="card card-body " id='grotke' style="min-height:100%">
                        <div class="flipper">
                            <div class="front">
                                <div class="avatar mx-auto my-3">
                                    <img src="../images/team/grotkesmall.jpeg" class="rounded-circle img-fluid" alt="First sample avatar image">
                                </div>
                                <h5 class="font-weight-bold">
                                    <strong>Johnathan Grotke</strong>
                                </h5>
                                <p class="grey-text">Computer Engineer</p>
                            </div>
                            <div class="back">
                                <p class='mt-5' style="text-align:left"> John Grotke is a computer engineering major working towards a concentration in wireless systems.
                                    Co-op positions from Motorola Solutions Picatinny Arsenal have given him valuable wireless
                                    and systems engineering experience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4 flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="card card-body " id='mike' style="min-height:100%">

                        <div class="flipper">
                            <div class="front">
                                <div class="avatar mx-auto my-3">
                                    <img src="../images/team/mikesmall.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                                </div>
                                <h5 class="font-weight-bold">
                                    <strong>Mike Moschetti</strong>
                                </h5>
                                <p class="grey-text">Computer Engineer</p>
                            </div>
                            <div class="back">
                                <p class='mt-5' style="text-align:left">
                                    Mike is a Computer Engineering major currently working on getting a concentration in embedded systems. He has a varied co-op
                                    experience having worked in construction estimation, IT helpdesk, Supply Chain, and mobile
                                    applocation development.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            <div class="row text-center">
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4 flip-container " ontouchstart="this.classList.toggle('hover');">
                    <div class="card card-body " id='justin' style="min-height:100%">

                        <div class="flipper">
                            <div class="front">
                                <div class="avatar mx-auto my-3">
                                    <img src="../images/team/justinsmall.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                                </div>
                                <h5 class="font-weight-bold">
                                    <strong>Justin Holdridge</strong>
                                </h5>
                                <p class="grey-text">Mechanical Engineer</p>
                            </div>
                            <div class="back" style="text-align: center">
                                <p class='mt-5' style="text-align:left">
                                    Justin is a mechanical engineering major who is also pursuing a mechanical engineering masters degree. His focus currently
                                    lies in the manufacturing industry. The co-op program provided him with solid experience
                                    in project management and client consultation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4 flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="card card-body " id='greg' style="min-height:100%">

                        <div class="flipper">
                            <div class="front">
                                <div class="avatar mx-auto my-3">
                                    <img src="../images/team/gregsmall.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                                </div>
                                <h5 class="font-weight-bold">
                                    <strong>Greg McNeil</strong>
                                </h5>
                                <p class="grey-text">Mechanical Engineer</p>
                            </div>
                            <div class="back">
                                <p class='mt-5' style="text-align:left">
                                    Greg McNeil is poised to earn a Bachelor's in Engineering and a Master's in Systems Engineering. Greg's co-op experience
                                    includes interning at Thomas Polise Consulting Engineering designing industrial HVAC
                                    systems, and engineering at AKRF, leading subsurface investigations and boring exploration.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-4 flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="card card-body " id='johna' style="min-height:100%">
                        <div class="flipper">
                            <div class="front">
                                <div class="avatar mx-auto my-3">
                                    <img src="../images/team/johnasmall.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                                </div>
                                <h5 class="font-weight-bold">
                                    <strong>John Anticev</strong>
                                </h5>
                                <p class="grey-text">Electrical Engineer</p>
                            </div>
                            <div class="back">
                                <p class='mt-5' style="text-align:left">
                                    John Anticev is an electrical engineering major working on a concurrent Master's degree in Engineering Management and a Minor
                                    in Computer Science. Prior work experiences include Exelis and BAE Systems as a Software
                                    Engineering Internships.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->


        </section>
    </div>
    <!--Section: Team v.1-->
    <!-- ========================================= TEAM END ========================================================= -->

    <!-- ========================================= DESIGN START ===================================================== -->
    <div id='design' class="container main" style='display:none;margin-top:2rem'>
        PAGE INCOMING!
    </div>
    <!-- ========================================= DESIGN END ======================================================= -->



</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
</script>
<script src='../javascript/main.js'></script>

</html>